.modal-window {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    text-align: center;
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-window-title {
    padding: 1rem;
    margin: 0;
}

.modal-window-wrap {
    width: 600px;
    margin: 0 auto;
    background: #feecfe;
    padding: 30px 0;
}

.content {
    padding: 15px;
}

.input-country,
.input-city {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}