.dashboard {
  width: 600px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.btn-add {
  text-align: center;
}

.cell {
  width: 200px;
  display: inline-block;
  text-align: center;
  border: 1px solid red;
  box-sizing: border-box;
}